[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
nextcord = "*"
pynacl = "*"
ffmpeg = "*"
yt-dlp = "*"
pillow = "*"
aiosqlite = "*"
psutil = "*"
beautifulsoup4 = "*"
websockets = "*"
flask = "*"
requests = "*"
quart = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
